/* General Layout */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    font-family: Arial, Helvetica, sans-serif;
}

.name-header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}