* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-header {
  display: flex;
  align-items: center;
  padding: 18px 24px;
  color: white;
  font-weight: bold;
  background-color: black;
  justify-content: space-between;
}

.menu-nav {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/* Logo Container */
.menu-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: auto;
  display: block; 
}

/* Underline when hover simple animation */
.menu-nav a {
  text-decoration: none;
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
}

.menu-nav a:hover {
 color: #8d8888; 
}

.menu-nav a:focus {
  text-decoration: underline;
  text-decoration-color: #c75e2e;
  outline: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;                     
  position: absolute;
  left: 0; 
  right: 0;                  
  top: calc(100% + .25rem);
  background: rgba(141,136,136,.2); 
  backdrop-filter: blur(4px);        
  padding: 2rem 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease, visibility .25s;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.dropdown-content a {
  color: #fff;
  font-weight: 600;
  padding: 5rem 1rem;
}

.dropdown-content a:hover {
  background: rgba(255, 255, 255, .1);
}

@media (max-width: 768px) {
  .dropdown-content {
    flex-direction: column;
    align-items: center;
  }
}