/* Profile Layout */
.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    margin: 0 auto;
    max-width: none;
    background-color: black;
}

.profile-image-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    position: relative;
    padding-top: 20px;
}

.profile-image {
    width: 400px;
    height: auto;
}

.profile-text {
    flex: 1;
    padding: 32px;
    text-align: left;
    font-size: 30px;
    color: white;
}

.profile-text-full {
    flex: 1;
    padding: 20px;
    text-align: left;
    font-size: 30px;
    color: white;
}

.sidebar {
    display: flex;
}